@using System.Globalization
@model IEnumerable<SellerProduct.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
                    <h2 >SẢN PHẨM NỔI BẬT </h2>
<section>
        <div class="container">
            <div class="border-wrap">
                <div class="row">
                     @foreach (var item in Model) {
                        if(item.AvailableQuantity > 5 && item.Status > 1)
                        {
                            <div class="col-md-3">
                                <div class="product-border">
                                    <div class="product-thumbnail">
                                        <a href="#"> <img
                                                src=""></a>
                                    </div>
                                    <div class="flash-sale"><img
                                            src="./img/product/champ1.jpg"
                                            alt=""
                                            style="width: 100%"></div>
                                    <div style="color: black" >
                                        <h3 style="color: black" >
                                            <a style="color: black" asp-controller="Home" asp-action="DetailsProduct" asp-route-id="@item.Id"> @(item.Name)</a>
                                        </h3>
                                        <div class="product-price">
                                            <span class="sale">@string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.Price)</span>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                     }
                    
                </div>
            </div>
        </div>
</section>